body {
    margin: 0;
    font-family: Arial;
}

nav {
    background-color: black;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 20px;
}

section {
    padding: 60px;
    text-align: center;
}

#home {
    background-color: lightblue;
}

#about {
    background-color: lightgray;
}

#netflix {
    background-color: pink;
}

.profile-picture {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 5px;
}